In [ ]:
# program segment that uses a while loop to add up all the even numbers between 100 and 200 inclusive'''

In [4]:
count = 98
sum = 0


while count < 200:
    count += 2
    sum += count
    print(count)

print("and the sum us", sum)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
and the sum us 7650

In [ ]:
'''Two versions of a program that sums a series of (positive) integers entered by the user, 
excluding all numbers that are greater than 100: Dr. Mbogholi'''

In [1]:
# version 1
input_numbers = input("Enter numbers: ")
numbers = [int(num) for num in input_numbers.split()]

sum = 0

for num in numbers:
    if num <= 100:
        sum += num

print("The sum is", sum)

Enter numbers:  10 50 60

The sum is 120

In [10]:
# version 2
print("How many numbers: ")
n = int(input("How many numbers do you want to enter: "))

sum = 0
for i in range(n):
    nums = int(input("Enter a number: "))
    if nums < 100:
        sum += nums

print("Sum is: ", sum)

How many numbers

Enter how many:  4
Enter number:  2
Enter number:  3
Enter number:  5
Enter number:  5

Sum is:  15

In [9]:
# 

a = int(input("Enter the base of a triangle: "))
b = int(input("Enter the height of a triangle: "))
c = int(input("Enter the hypotenus of a triangle: "))

d = c**2 - (a**2 + b**2) # since a^2 + b^2 = c^2, it implies that c^2 - (a^2 + b^2) = 0 - we store zero in variable d

if d != 0:
    print("Not a right angled triangle")
else:
    print("This is a right angled triangle: KUDOS!")

Enter one side of a triangle:  5
Enter the second side:  8
Enter the third side:  10

Not a right angled triangle

In [12]:
sides_triangle = input("Enter three sides of a triangle in the following order separated by space:a b c: ")
sides = [int(num) for num in sides_triangle.split()]

x = c**2 - (a**2 + b**2)

if x != 0:
    print("This is not a right angled triangle: ")
else:
    print("This is a right angled triangle: KUDOS MY G!")

Enter three sides of a triangle in the following order separated by space:a b c:  5 12 13

This is not a right angled triangle:

## Class practice

Fred, 025, 50,000, 10,000
sue, 095, 100000, 72,000

In [56]:
# function to calculate total salary given commisions

def calculate_salary(name, pf, toothpaste, toothpowder):
    
    retainer = 25000
    comm_toothpaste = 0.1 * toothpaste # computing commision of toothpaste
    comm_toothpowder = 0.2 * toothpowder # computing toothpowder commision
    total_comm = comm_toothpaste + comm_toothpowder
    total_salary = retainer + total_comm
    
    print(f"The salary of {name} PF no: {pf} is: {total_salary}")
    return name, pf, total_salary

In [57]:
calculate_salary("Fred", "025", 50000, 10000)

The salary of Fred PF no: 025 is: 32000.0

('Fred', '025', 32000.0)

In [55]:
calculate_salary("Fred", 25, 50000, 10000)

('Fred', 21, 32000.0)

In [26]:
calculate_salary("Sue", 95, 100000, 72000)

('Sue', 95, 49400.0)

In [27]:
calculate_salary("Doris", 10, 5000, 125000)

('Doris', 10, 50500.0)

In [28]:
calculate_salary("Zack", 1022, 130000, 0)

('Zack', 1022, 38000.0)

## Algorithm to confirm whether given lengths can form a triangle

**Steps to follow**
1. input 3 lengths a, b, c
2. check whether any of the lengths is greater than sum of the other two
   - if a > (b + c) or b > (a + c) or c > (b + a) then print not a triangle otherwise print yes
3. print "No" or "Yes"

In [63]:
def is_triangle(a, b, c):
    
    if a > (b + c) or b > (a + c) or c > (b + a):
        print("No")
    elif a == (b + c) or b == (a + c) or c == (a + b):
        print("Yes, Degenerate Triangle")
    else:
        print("Yes")

In [37]:
# Calling the function to check whether values can form a triangle or not 
is_triangle(8, 10, 6)

Yes

## part b of the question
**Write a function that prompts the user to input three stick lengths, converts them to integers and uses is_triangle to check whether sticks with the given lengths can form a triangle**

In [59]:
# function to prompt user to input stick lengths

def userInputStickLengths():
    a = int(float(input("Enter first stick length: ")))
    b = int(float(input("Enter second stick length: ")))
    c = int(float(input("Enter third stick length: ")))
    
    is_triangle(a, b, c) # calling a function inside another function

In [60]:
userInputStickLengths()

Enter first stick length:  5.0
Enter second stick length:  23.8
Enter third stick length:  10.5

No